@font-face { font-family: 'f-anjingchenyingbixingshu-2'; src: url('/images/AnJingChenYingBiXingShu-2.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'f-boxing-regular'; src: url('/images/Boxing-Regular.otf') format('opentype'); font-display: swap; }
@font-face { font-family: 'f-cube-font-1'; src: url('/images/Cube-Font-1.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'f-hypixel11pxu-2'; src: url('/images/HYPixel11pxU-2.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'f-okcok-1'; src: url('/images/OKCOK-1.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'f-wohuibanijiaozuoaiqing-2'; src: url('/images/WoHuiBaNiJiaoZuoAiQing-2.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'f-testfont'; src: url('/images/testfont.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'f-乐米简篆体'; src: url('/images/乐米简篆体.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'f-南西油墨宋'; src: url('/images/南西油墨宋.ttf') format('truetype'); font-display: swap; }
@font-face { font-family: 'f-寒蝉拙楷体'; src: url('/images/寒蝉拙楷体.ttf') format('truetype'); font-display: swap; }
